*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #ced8ff;
}
.navbar{
  width: 100%;
  height: 60px;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  list-style: none;
}